<%= form_for([:admin, photo], :html => { :class => "object-form" }) do |f| %>
    <%= render 'admin/shared/error_messages', object: f.object %>
    <fieldset>
        <div>
            <%= f.label t("photos.title") %>
            <%= f.text_field :title %>
        </div>

        <% if photo.file? %>
        <div class="thumb"><%= image_tag photo.file.url(:medium) %></div>
        <% end %>

        <div>
            <%= f.label t("photos.file") %>
            <%= f.file_field :file %>
        </div>

        <div>
            <%= f.label t("photos.order") %>
            <%= f.text_field :order %>
        </div>

        <div>
            <%= f.label t("photos.project") %>
            <%= f.select(:project_id, Project.all.map { |project| [project.name, project.id] }, {:include_blank => ''}) %>
        </div>

        <div class="translations">
            <% I18n.available_locales.each do |locale| %>
                <%= f.globalize_fields_for locale do |ff| %>
                    <% if locale != I18n.default_locale %>
                        <p>Translations for <strong><%= locale %></strong></p>
                        <div>
                            <%= ff.label t("photos.title") %>
                            <%= ff.text_field :title %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>


        <div class="form-action">
            <%= link_to t("cancel"), admin_photos_path, :class => "cancel" %> <%= t "or" %> <%= f.submit t("save") %>
        </div>
    </fieldset>
<% end %>
