<% if user_signed_in? %>
    <div class="user-info">
        <%= link_to t("logout"), destroy_user_session_path, :method => "delete", :class => "logout" %>
        <ul>
            <li><%= link_to t("home"), root_path %></li>
            <li><%= link_to t("projects.list"), projects_path %></li>
            <li><%= link_to t("projects.add"), new_project_path %></li>
            <li><%= link_to t("categories.list"), categories_path %></li>
            <li><%= link_to t("photos.list"), "#" %></li>
        </ul>
    </div>
<% end %>
