<%= form_for([:admin, @project], :html => { :class => "object-form" }) do |f| %>
    <%= render 'admin/shared/error_messages', object: f.object %>
    <fieldset>
        <div>
            <%= f.label t("projects.name") %>
            <%= f.text_field :name %>
        </div>

        <div>
            <%= f.label t("projects.description") %>
            <%= f.text_area :description %>
        </div>

        <div>
            <%= f.label t("projects.url") %>
            <%= f.text_field :url %>
        </div>

        <div>
            <%= f.label t("projects.category") %>
            <%= f.select(:category_id, Category.all.map { |category| [category.name, category.id] }, {:include_blank => ''}) %>
        </div>

        <div>
            <%= f.label t("projects.due_date") %>
            <%= f.datetime_select :due_date %>
        </div>

        <div>
            <%= f.label t("tags") %>
            <%= f.text_field :tag_list %>
        </div>

        <div>
            <label><%= f.check_box :published %> <%= t("projects.published") %></label>
        </div>

        <div class="translations">
            <% I18n.available_locales.each do |locale| %>
                <%= f.globalize_fields_for locale do |ff| %>
                    <% if locale != I18n.default_locale %>
                        <p>Translations for <strong><%= locale %></strong></p>
                        <div>
                            <%= ff.label t("projects.name") %>
                            <%= ff.text_field :name %>
                        </div>
                        <div>
                            <%= ff.label t("projects.description") %>
                            <%= ff.text_area :description %>
                        </div>
                        <div>
                            <%= ff.label t("tags") %>
                            <%= ff.text_field :tag_list %>
                        </div>
                        <div>
                            <%= ff.label t("slug") %>
                            <%= ff.text_field :cached_slug %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class="form-action">
            <%= link_to t("cancel"), admin_projects_path, :class => "cancel" %> <%= t "or" %> <%= f.submit t("save") %>
        </div>
    </fieldset>
<% end %>
