<div class="grid">
    <div class="admin-container">
        <section class="row admin-header">
            <div class="slot-0-1-2-3">
              <header>
                  <h1><%= t "projects.list" %></h1>
              </header>
            </div>
            <div class="slot-4-5">
                <%= link_to t("projects.add"), new_admin_project_path, :class => "admin-button" %>
            </div>
        </section>

        <section class="row">
            <table>
                <tbody>
                    <% @projects.each do |project| %>
                        <tr>
                            <td><%= link_to project.name, edit_admin_project_path(project) %></td>
                            <td class="actions">
                              <%= link_to "", edit_admin_project_path(project), :class => "sprite-portfolio admin-list-edit admin-list-action" %>
                              <%= link_to "", admin_project_path(project), :class => "sprite-portfolio admin-list-delete admin-list-action", :method => "delete" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </section>
    </div>
</div>
