<div class="projects-container">
    <section class="container projects clearfix">
        <header>
            <h1>Selected works</h1>
        </header>
        <div class="clearfix">
            <% @projects.each_with_index do |project, index| %>
                <article class="project<% if index % 3 == 0 %> first<% end %>">
                    <h3><%= project.name %></h3>
                    <div class="panel">
                        <div class="front">
                            <figure>
                                <% unless project.photos.empty? %>
                                    <%= image_tag project.photos.first.file.url(:highlight) %>
                                <% end %>
                            </figure>
                        </div>
                        <div class="back">
                            hello world
                        </div>
                    </div>
                </article>
            <% end %>
        </div>
        <div class="all-projects">
            <div class="button">
                <span class="label">All projects</span>
                <span class="label">Visit now &#8250;</span>
            </div>
        </div>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
                <h1><small><a href="#">more @ github &#8250;</a></small>I <em>&hearts;</em> open source</h1>
            </header>
            <article class="clearfix">
                <figure>
                    <%= image_tag "canvas.jpg" %>
                </figure>
                <h2>Canvas PHP Image Manipulation</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
            <article class="clearfix">
                <figure>
                    <%= image_tag "simple-code-review.jpg" %>
                </figure>
                <h2>Simple Code Review</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
        </section>
        <section class="writing-talks clearfix">
            <header>
                <h1><small><a href="#">visit my blog &#8250;</a></small>Writing & Talking</h1>
            </header>
            <article class="book clearfix">
                <figure>
                    <a href="#">
                        <%= image_tag "instant-html-book.jpg" %>
                    </a>
                </figure>
                <a href="#" class="description">
                    <h3>Check out my new book</h3>
                    <h2>Instant HTML5 Presentations How-to</h2>
                </a>
            </article>
            <div class="decks">
                <ul>
                    <li><a href="#" class="js-deck"><%= image_tag "js-deck.jpg" %></a></li>
                    <li><a href="#" class="html5-deck"><%= image_tag "html5-css3-deck.jpg" %></a></li>
                    <li><a href="#" class="compass-deck"><%= image_tag "sass-deck.jpg" %></a></li>
                </ul>
            </div>
            <article class="post">
                <h2>Zepto.js: JavaScript peso-leve</h2>
                <p>Inicialmente lançado para aplicações mobile, o framework Zepto.js começa a ganhar espaço também no desktop graças ao seu peso reduzido e a sua alta compatibilidade com jQuery.</p>
            </article>
        </section>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me clearfix container">
        <section class="social">
            <ul>
                <li><a href="#" class="social-sprite social-github"><span>visit my profile &#8250;</span>Github</a></li>
                <li><a href="#" class="social-sprite social-twitter"><span>visit my profile &#8250;</span>Twitter</a></li>
                <li><a href="#" class="social-sprite social-linkedin"><span>visit my profile &#8250;</span>LinkedIn</a></li>
                <li><a class="social-sprite social-delicious" href="#"><span>visit my profile &#8250;</span>Delicious</a></li>
            </ul>
        </section>
        <section class="myself clearfix">
            <article>
                <figure>
                    <%= image_tag "davi.jpg" %>
                </figure>
                <h3>davi ferreira</h3>
                <p>Programador apaixonado pelo que faz. Responsável pelo desenvolvimento de sistemas e interfaces para Globo.com, Confederação Brasileira de Vôlei, Ricoh Brasil, Embratel entre outros.</p>
            </article>
        </section>
        <section class="tweets">
            <div class="limit"></div>
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                </a>
            </article>
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                    <time>12 de fevereiro de 2012</time>
                </a>
            </article>
        </section>
    </div>
</div>
