<div class="projects-container">
    <section class="container projects clearfix">
        <header>
            <h1>These are my latest works</h1>
        </header>
        <% @projects.each_with_index do |project, index| %>
            <article class="project<% if index % 3 == 0 %> first<% end %>">
                <h3><%= project.name %></h3>
                <figure>
                    <% unless project.photos.empty? %>
                        <%= image_tag project.photos.first.file.url(:highlight) %>
                    <% end %>
                </figure>
            </article>
        <% end %>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
                <h1><small><a href="#">more @ github &#8250;</a></small>I <em>&hearts;</em> open source</h1>
            </header>
            <article class="clearfix">
                <figure>
                    <%= image_tag "canvas.jpg" %>
                </figure>
                <h2>Canvas PHP Image Manipulation</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
            <article class="clearfix">
                <figure>
                    <%= image_tag "simple-code-review.jpg" %>
                </figure>
                <h2>Simple Code Review</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
        </section>
        <section class="writing-talks">
            <header>
                <h1><small><a href="#">visit my blog &#8250;</a></small>Writing & Talking</h1>
            </header>
            <article>
                <h2>Zepto.js: JavaScript peso-leve</h2>
                <p>Inicialmente lançado para aplicações mobile, o framework Zepto.js começa a ganhar espaço também no desktop graças ao seu peso reduzido e a sua alta compatibilidade com jQuery.</p>
            </article>
        </section>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me clearfix container">
        <section class="social">
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Delicious</a></li>
                <li><a href="#">DeviantArt</a></li>
                <li><a href="#">last.fm</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </section>
        <section class="myself clearfix">
            <article>
                <figure>
                    <%= image_tag "davi.jpg" %>
                </figure>
                <h3>davi ferreira</h3>
                <p>Programador apaixonado pelo que faz. Responsável pelo desenvolvimento de sistemas e interfaces para Globo.com, Confederação Brasileira de Vôlei, Ricoh Brasil, Embratel entre outros.</p>
            </article>
        </section>
        <section class="tweets">
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                    <time>12 de fevereiro de 2012</time>
                </a>
            </article>
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                    <time>12 de fevereiro de 2012</time>
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                    <time>12 de fevereiro de 2012</time>
                </a>
            </article>
        </section>
    </div>
</div>
