<header class="masthead" id="page-title">
    <div class="container clearfix">
        <h1>will code for beer</h1>
        <h2>searching for a partner in crime &#8250;</h2>
    </div>
</header>
<div class="projects-container">
    <section class="container projects clearfix">
        <header>
          <h1>Selected <strong>works</strong></h1>
        </header>
        <div class="clearfix">
            <% @projects.each_with_index do |project, index| %>
                <%= render project, :index => index, :itens => 3 %>
            <% end %>
        </div>
        <div class="all-projects">
            <a class="button" href="<%= projects_path(:locale => current_locale) %>">
                <span class="label">All projects</span>
                <span class="label">Visit now &#8250;</span>
            </a>
        </div>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
                <h1><small><a href="#">more @ github &#8250;</a></small>I <em>&hearts;</em> open source</h1>
            </header>
            <% @open_source_projects.each do |project| %>
              <article class="clearfix">
                  <figure>
                      <%= image_tag project.file.url(:thumb) %>
                  </figure>
                  <h2><%= project.title %></h2>
                  <p><%= project.description %> <%= link_to "Code", project.url %></p>
              </article>
            <% end %>
        </section>
        <section class="writing-talks clearfix">
            <header>
                <h1><small><a href="#">visit my blog &#8250;</a></small>Writing & Talking</h1>
            </header>
            <article class="book clearfix">
                <figure>
                    <a href="#">
                        <%= image_tag "instant-html-book.jpg" %>
                    </a>
                </figure>
                <a href="#" class="description">
                    <h3>Check out my new book</h3>
                    <h2>Instant HTML5 Presentations How-to</h2>
                </a>
            </article>
            <div class="decks">
                <ul>
                    <li><a href="#" class="js-deck"><%= image_tag "js-deck.jpg" %></a></li>
                    <li><a href="#" class="html5-deck"><%= image_tag "html5-css3-deck.jpg" %></a></li>
                    <li><a href="#" class="compass-deck"><%= image_tag "sass-deck.jpg" %></a></li>
                </ul>
            </div>
            <div class="latest-posts-wrapper">
                <div id="latest-posts" class="clearfix">
                    <% @posts.each_with_index do |post, index| %>
                    <article class="post<% if index == 0 %> post-active<% end %>">
                        <a href="<%= post_path(post, :locale => current_locale) %>">
                            <h2><%= post.title %></h2>
                            <p><%= post.abstract %></p>
                        </a>
                    </article>
                    <% end %>
                </div>
            </div>
            <div class="posts-navigation" id="latest-posts-navigation">
                <a href="#" class="current">&bullet;</a>
                <a href="#">&bullet;</a>
                <a href="#">&bullet;</a>
                <a href="#">&bullet;</a>
                <a href="#">&bullet;</a>
            </div>
        </section>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me clearfix container">
        <section class="social">
            <ul>
                <li><a href="#" class="icons-sprite icons-github"><span>visit my profile &#8250;</span>Github</a></li>
                <li><a href="#" class="icons-sprite icons-twitter"><span>visit my profile &#8250;</span>Twitter</a></li>
                <li><a href="#" class="icons-sprite icons-linkedin"><span>visit my profile &#8250;</span>LinkedIn</a></li>
                <li><a class="icons-sprite icons-delicious" href="#"><span>visit my profile &#8250;</span>Delicious</a></li>
            </ul>
        </section>
        <section class="myself clearfix">
            <article>
                <figure>
                    <%= image_tag "davi.jpg" %>
                </figure>
                <h3>davi ferreira</h3>
                <p>Programador apaixonado pelo que faz. Responsável pelo desenvolvimento de sistemas e interfaces para Globo.com, Confederação Brasileira de Vôlei, Ricoh Brasil, Embratel entre outros.</p>
            </article>
        </section>
        <section class="tweets">
            <div class="limit"></div>
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                </a>
            </article>
            <article class="active">
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Tá na hora de parar de usar geradores para degradês CSS3, saiba como nesse artigo genial do @bernarddeluna: tableless.com.br/como-usar-grad…</p>
                    <time>12 de fevereiro de 2012</time>
                </a>
            </article>
        </section>
    </div>
</div>
