<div class="m-slides">
  <div class="grid">
    <div class="row">
      <div class="slot-0-1-2-3">
        pic
      </div>
      <div class="slot-4-5">
        <section class="slide">
          <header>
            <h1>TVG</h1>
          </header>
          <p>O mais novo portal da globo.com agrega os principais produtos de entretenimento da casa</p>
          <%= link_to "more details", "#" %>
        </section>
      </div>
    </div>
  </div>
</div>

<section class="highlights">
  <div class="grid m-highlights">
    <div class="row">
      <div class="slot-0-1">
        <article>
          <figure class="panel">
            <div class="front">
              <a href="#">
                <img src="/images/highlight-dummy.jpg" height="140" width="242" alt="Big Brother Brasil">
              </a>
            </div>
            <div class="back">
              opa
            </div>
          </figure>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-2-3">
        <article>
          <figure class="panel">
            <div class="front">
              <a href="#">
                <img src="/images/highlight-dummy.jpg" height="140" width="242" alt="Big Brother Brasil">
              </a>
            </div>
            <div class="back">
              opa
            </div>
          </figure>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-4-5">
        <article>
          <figure class="panel">
            <div class="front">
              <a href="#">
                <img src="/images/highlight-dummy.jpg" height="140" width="242" alt="Big Brother Brasil">
              </a>
            </div>
            <div class="back">
              opa
            </div>
          </figure>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="secondary-content sprite-portfolio">
  <section class="grid m-works">
    <nav>
      <%= link_to "websites", "#", :title => "websites" %>
      <%= link_to "sistemas", "#", :title => "sistemas" %>
      <%= link_to "e-commerce", "#", :title => "e-commerce" %>
      <%= link_to "hotsites", "#", :title => "hotsites" %>
      <%= link_to "outros", "#", :title => "outros" %>
    </nav>
    <header>
      <h1>other <span>works</span></h1>
    </header>
    <div class="row row-works" id="row-works">
      <div class="slot-6">
        <ul>
          <li><%= link_to "Big Brother Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "The Voice Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "TVG", "#", :class => "roll" %></li>
          <li><%= link_to "Domingão do Faustão", "#", :class => "roll" %></li>
          <li><%= link_to "Caldeirão do Huck", "#", :class => "roll" %></li>
          <li><%= link_to "Vídeo Show", "#", :class => "roll" %></li>
        </ul>
      </div>
      <div class="slot-7">
        <ul>
          <li><%= link_to "Big Brother Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "The Voice Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "TVG", "#", :class => "roll" %></li>
          <li><%= link_to "Domingão do Faustão", "#", :class => "roll" %></li>
          <li><%= link_to "Caldeirão do Huck", "#", :class => "roll" %></li>
          <li><%= link_to "Vídeo Show", "#", :class => "roll" %></li>
        </ul>
      </div>
      <div class="slot-8">
        <ul>
          <li><%= link_to "Big Brother Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "The Voice Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "TVG", "#", :class => "roll" %></li>
          <li><%= link_to "Domingão do Faustão", "#", :class => "roll" %></li>
          <li><%= link_to "Caldeirão do Huck", "#", :class => "roll" %></li>
          <li><%= link_to "Vídeo Show", "#", :class => "roll" %></li>
        </ul>
      </div>
      <div class="slot-9">
        <ul>
          <li><%= link_to "Big Brother Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "The Voice Brasil", "#", :class => "roll" %></li>
          <li><%= link_to "TVG", "#", :class => "roll" %></li>
          <li><%= link_to "Domingão do Faustão", "#", :class => "roll" %></li>
          <li><%= link_to "Caldeirão do Huck", "#", :class => "roll" %></li>
          <li><%= link_to "Vídeo Show", "#", :class => "roll" %></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="grid m-more-info">
    <div class="row">
      <section class="slot-0-1">
        <header>
          <h1>I <span class="heart">&hearts;</span> open source</h1>
        </header>
        <ul>
          <li><%= link_to "Simple Code Review", "#" %></li>
          <li><%= link_to "Canvas PHP Class", "#" %></li>
          <li><%= link_to "jQuery Sticky Sidebar", "#" %></li>
          <li><%= link_to "Tissues", "#" %></li>
          <li><%= link_to "Blank words generator", "#" %></li>
        </ul>
      </section>
      <section class="slot-2-3">
        <header>
          <h1>talks <span>&</span> writings</h1>
        </header>
        <ul>
          <li><%= link_to "HTML5 Presentations How-to", "#" %></li>
          <li><%= link_to "HTML5/CSS3 workshop", "#" %></li>
          <li><%= link_to "Sass/Compass workshop", "#" %></li>
          <li><%= link_to "JavaScript overview", "#" %></li>
          <li><%= link_to "Tableless articles", "#" %></li>
        </ul>
      </section>
      <section class="slot-4-5">
        <header>
          <h1><span>social</span> profiles</h1>
        </header>
        <ul>
          <li><%= link_to "github", "http://github.com/daviferreira" %></li>
          <li><%= link_to "twitter", "http://twitter.com/davitferreira" %></li>
          <li><%= link_to "delicious", "http://delicious.com/daviferreira" %></li>
          <li><%= link_to "linkedin", "http://linkedin.com/daviferreira" %></li>
          <li><%= link_to "deviantart", "http://daviferreira.deviantart.com" %></li>
          <li><%= link_to "last.fm", "http://last.fm/davitf" %></li>
        </ul>
      </section>
    </div>
  </div>
</div>
