<div class="cover clearfix" id="cover">
    <%= render_page "carrossel" %>
</div>
<div class="cover-navigation container" id="cover-navigation"></div>
<div class="projects-container">
    <section class="container projects clearfix">
        <header>
          <h1><%= raw (t "selected_works") %></h1>
        </header>
        <div class="clearfix">
            <% @projects.each_with_index do |project, index| %>
                <%= render project, :index => index, :itens => 3 %>
            <% end %>
        </div>
        <div class="all-projects">
            <a class="button" href="<%= projects_path(:locale => current_locale) %>">
                <span class="label"><%= t "all_projects" %></span>
                <span class="label"><%= t "visit_now" %> &#8250;</span>
            </a>
        </div>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
            <h1><small><a href="<%= open_source_path(:locale => current_locale) %>"><%= t "more_projects" %> &#8250;</a></small><%= t "eu" %> <em>&hearts;</em> open source</h1>
            </header>
            <% @open_source_projects.each do |project| %>
              <article class="clearfix">
                  <figure>
                      <%= image_tag project.file.url(:thumb) %>
                  </figure>
                  <h2><%= project.title %></h2>
                  <p><%= project.description %> <%= link_to raw("&raquo; #{t("code")}"), project.url %></p>
              </article>
            <% end %>
        </section>
        <section class="writing-talks clearfix">
            <header>
              <h1><small><a href="<%= posts_path(:locale => current_locale) %>"><%= t "posts.visit" %> &#8250;</a></small><%= t "publications" %></h1>
            </header>
            <article class="book clearfix">
                <figure>
                    <a href="<%= page_path('book', :locale => current_locale) %>">
                        <%= image_tag "instant-html-book.jpg" %>
                    </a>
                </figure>
                <a href="<%= page_path('book', :locale => current_locale) %>" class="description">
                    <h3><%= t "check_book" %></h3>
                    <h2>Instant HTML5 Presentations How-to</h2>
                </a>
            </article>
            <div class="decks">
                <ul>
                    <li><a href="https://speakerdeck.com/daviferreira/javascript-workshop" class="js-deck" target="_blank"><%= image_tag "js-deck.jpg" %></a></li>
                    <li><a href="https://speakerdeck.com/daviferreira/workshop-html5-css3" class="html5-deck" target="_blank"><%= image_tag "html5-css3-deck.jpg" %></a></li>
                    <li><a href="https://speakerdeck.com/daviferreira/workshop-compass-globocom" class="compass-deck" target="_blank"><%= image_tag "sass-deck.jpg" %></a></li>
                </ul>
            </div>
            <div class="latest-posts-wrapper">
                <div id="latest-posts" class="clearfix">
                    <% @posts.each_with_index do |post, index| %>
                    <article class="post<% if index == 0 %> post-active<% end %>">
                        <a href="<%= post.external_url? ? post.external_url : post_path(post, :locale => current_locale) %>">
                            <h2><%= post.title %></h2>
                            <p><%= post.abstract %></p>
                        </a>
                    </article>
                    <% end %>
                </div>
            </div>
            <div class="posts-navigation" id="latest-posts-navigation"></div>
        </section>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me clearfix container">
        <section class="social">
            <ul>
                <li><a href="https://github.com/daviferreira" class="icons-sprite icons-github" target="_blank"><span><%= t "visit_profile" %> &#8250;</span>Github</a></li>
                <li><a href="https://twitter.com/@davitferreira" class="icons-sprite icons-twitter" target="_blank"><span><%= t "visit_profile" %> &#8250;</span>Twitter</a></li>
                <li><a href="http://www.linkedin.com/in/daviferreira" class="icons-sprite icons-linkedin" target="_blank"><span><%= t "visit_profile" %> &#8250;</span>LinkedIn</a></li>
                <li><a href="https://delicious.com/daviferreira" class="icons-sprite icons-delicious" target="_blank"><span><%= t "visit_profile" %> &#8250;</span>Delicious</a></li>
            </ul>
        </section>
        <section class="myself clearfix">
            <article>
                <figure>
                    <%= image_tag "davi.jpg" %>
                </figure>
                <h3>davi ferreira</h3>
                <p><%= render_page "myself" %></p>
            </article>
        </section>
        <section class="tweets">
          <a class="twitter-timeline" data-tweet-limit="3" data-chrome="nofooter noheader noscrollbar noborders transparent" height="340" href="https://twitter.com/davitferreira" data-widget-id="348260367694168064">Tweets by @davitferreira</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>
    </div>
</div>
