<div class="projects-container projects-page secondary-page clearfix">
    <div class="container clearfix">
        <aside class="sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                    <h1>Crafts</h1>
                </header>
                <nav class="sidebar-navigation">
                    <a class="current" href="#">by date</a>
                    <a href="#">by category</a>
                    <a href="#">by tag</a>
                </nav>
                <%= render "shared/myself" %>
            </div>
        </aside>
        <section class="projects-list clearfix main-content">
            <div class="limit"></div>
            <h3><%= @year %></h3>
            <% @projects_by_year.each do |year, projects| %>
                <ul class="clearfix<% if year == @year %> first<% end %>" data-year="<%= year %>">
                <% projects.each do |project| %>
                    <li>
                        <a href="#">
                            <% unless project.photos.empty? %>
                                <figure>
                                    <%= image_tag project.photos.first.file.url(:thumb) %>
                                </figure>
                            <% end %>
                            <%= project.name %>
                        </a>
                    </li>
                <% end %>
                </ul>
            <% end %>
        </section>
    </div>
</div>