<article class="project<% if index % itens == 0 %> first<% end %>">
    <h3><%= project.name %></h3>
    <div class="panel">
        <div class="front">
            <figure>
                <% unless project.photos.empty? %>
                  <%= image_tag project.photos.first.file.url(:highlight), :width => 374, :height => 242 %>
                <% end %>
            </figure>
        </div>
        <div class="back">
            <div class="project-meta-data">
                <p><%= project.description %></p>
                <ul>
                    <li class="tags clearfix">
                        <i class="icons-sprite icons-tag"></i>
                        <div class="tags-container"><%= show_tags_as_links(project.tags) %></div>
                    </li>
                    <% if project.url.present? %>
                    <li class="link clearfix"><i class="icons-sprite icons-link"></i><%= link_to project.url, project.url %></li>
                    <% end %>
                </ul>
                <p class="details"><%= link_to "+ details", project_path(:id => project, :locale => current_locale) %></p>
            </div>
        </div>
    </div>
</article>
