<div class="projects-container projects-page secondary-page clearfix">
    <div class="container clearfix">
        <aside class="sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                    <h1>Crafts</h1>
                </header>
                <%= render "sidebar", :categories => @categories %>
                <%= render "shared/myself" %>
            </div>
        </aside>
        <section class="project-details clearfix main-content">
            <figure>
                <div>
                    <%= image_tag @project.photos.first.file.url(:highlight) %>
                </div>
            </figure>
            <header>
                <h1><%= @project.name %></h1>
            </header>
            <p class="description"><%= @project.description %></p>
            <div class="screenshots">
                <ul class="clearfix js-gallery">
                    <% @project.photos.each do |photo| %>
                        <li><a href="<%= photo.file.url(:original) %>" title="<%= photo.title %>"><%= image_tag photo.file.url(:thumb) %></a></li>
                    <% end %>
                </ul>
            </div>
            <div class="meta">Cadastrado em <%= link_to @project.category_name, projects_by_category_path(@project.category, :locale => current_locale) %> &bull; Entregue em <time><%= localize @project.due_date, :format => "%B %Y" %></time></div>
            <% if @project.url %>
              <div class="link"><%= link_to @project.url, @project.url %></div>
            <% end %>
            <% if @project.tags %>
              <div class="tags"><%= show_tags_as_links(@project.tags) %></div>
            <% end %>
        </section>
    </div>
</div>
