<%= form_for(@post, :url => url, :html => { :class => "object-form" }) do |f| %>
    <%= render 'admin/shared/error_messages', object: f.object %>
    <fieldset>
        <div>
            <%= f.label t("posts.title") %>
            <%= f.text_field :title, :class => "x-large" %>
        </div>

        <div>
            <%= f.label t("posts.abstract") %>
            <%= f.text_area :abstract, :class => "x-large" %>
        </div>

        <div>
            <%= f.label t("posts.body") %>
            <%= f.text_area :body, :class => "x-large post-body" %>
        </div>

        <div>
            <%= f.label t("posts.external_url") %>
            <%= f.text_field :external_url %>
        </div>

        <div>
            <%= f.label t("posts.published_date") %>
            <%= f.datetime_select :published_date %>
        </div>

        <div>
            <%= f.label t("tags") %>
            <%= f.text_field :tags %>
        </div>

        <div>
            <%= f.label t("locale") %>
            <%= f.radio_button(:locale, "pt-BR") %>
            <%= f.label("locale_pt-br", "Português", :class => "inline") %>
            <%= f.radio_button(:locale, "en") %>
            <%= f.label(:locale_en, "English", :class => "inline") %>
        </div>

        <div>
            <label><%= f.check_box :published %> <%= t("posts.published") %></label>
        </div>

        <div>
            <label><%= f.check_box :block_comments %> <%= t("posts.block_comments") %></label>
        </div>

        <div>
            <%= f.label t("posts.meta_title") %>
            <%= f.text_field :meta_title%>
        </div>

        <div>
            <%= f.label t("posts.meta_description") %>
            <%= f.text_area :meta_description %>
        </div>

        <div class="form-action">
            <%= link_to t("cancel"), admin_posts_path, :class => "cancel" %> <%= t "or" %> <%= f.submit t("save") %>
        </div>
    </fieldset>
<% end %>
