<section class="row admin-header">
    <div class="slot-0-1-2-3">
      <header>
          <h1><%= t "posts.list" %></h1>
      </header>
    </div>
    <div class="slot-4-5">
        <%= link_to t("posts.add"), new_admin_post_path, :class => "admin-button" %>
    </div>
</section>

<section class="row">
    <table>
        <tbody>
            <% @posts.each do |post| %>
                <tr>
	    <td><%= link_to post.title, edit_admin_post_path(post) %></td>
                    <td class="actions">
                      <%= link_to "", edit_admin_post_path(post), :class => "sprite-portfolio admin-list-edit admin-list-action" %>
                      <%= link_to "", admin_post_path(post), :class => "sprite-portfolio admin-list-delete admin-list-action", :method => "delete" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>