<%= form_for([:admin, @category], :html => { :class => "object-form" }) do |f| %>
    <%= render 'admin/shared/error_messages', object: f.object %>
    <fieldset>
        <div>
            <%= f.label t("categories.name") %>
            <%= f.text_field :name %>
        </div>

        <div class="translations">
            <% I18n.available_locales.each do |locale| %>
                <%= f.globalize_fields_for locale do |ff| %>
                    <% if locale != I18n.default_locale %>
                        <p>Translations for <strong><%= locale %></strong></p>
                        <div>
                            <%= ff.label t("categories.name") %>
                            <%= ff.text_field :name %>
                        </div>
                        <div>
                            <%= ff.label t("slug") %>
                            <%= ff.text_field :cached_slug %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class="form-action">
            <%= link_to t("cancel"), admin_categories_path, :class => "cancel" %> <%= t "or" %> <%= f.submit t("save") %>
        </div>
    </fieldset>
<% end %>
