<div class="open-source-projects-container open-source-projects-page secondary-page">
    <div class="container clearfix">
        <section class="sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                  <h1><%= t "eu" %> <span class="heart">&hearts;</span> open source</h1>
                </header>
                <div class="sidebar-navigation">
                    <ul>
                        <li><a href="https://github.com/daviferreira">github</a></li>
                    </ul>
                </div>
                <%= render "shared/myself" %>
            </div>
        </section>
        <section class="open-source-projects clearfix main-content">
            <div class="limit"></div>
            <% @open_source_projects.each do |open_source_project| %>
                <article>
                    <a href="<%= open_source_project.url %>">
                        <h1><%= open_source_project.title %></h1>
                        <p><%= open_source_project.description %></p>
                    </a>
                </article>
            <% end %>
        </section>
    </div>
</div>

