<div class="post-container post-page secondary-page">
    <div class="container clearfix">
        <section class="sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                    <h1>Writing</h1>
                </header>
                <%= render "sidebar" %>
                <%= render "shared/myself" %>
            </div>
        </section>
        <section class="post clearfix main-content">
            <article>
            <div class="meta"><% unless @post.tags.empty? %><%= @post.tags %> <span>&bull;</span> <% end %><time><%= localize @post.published_date, :format => '%B %Y' %></time></div>
                <a href="<%= post_path(:id => @post, :locale => current_locale) %>">
                    <h1><%= @post.title %></h1>
                </a>
                <p class="abstract"><%= @post.abstract %></p>
                <%= raw @post.body %>
            </article>
            <div class="social-buttons clearfix">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="davitferreira" data-size="large">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname="daviferreiracom",disqus_config=function(){this.language="<%= I18n.locale.to_s.gsub('-', '_') %>"};!function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src="//"+disqus_shortname+".disqus.com/embed.js",(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}();
            </script>
        </section>
    </div>
</div>
