<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2k13</title>
  <%= stylesheet_link_tag     "base", :media => "all" %>
  <%= stylesheet_link_tag     "720_grid", :media => "screen and (min-width: 720px)" %>
  <%= stylesheet_link_tag     "986_grid", :media => "screen and (min-width: 986px)" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar"></div>
  <header class="masthead">
    <div class="grid">
      <div class="row">
        <div class="slot-0-1-2-3">
          <h1>Davi Ferreira</h1>
        </div>
        <div class="slot-4-5">
          <h2>Web crafter</h2>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  <footer>
    <div class="grid">
      <div class="row">
        <div class="slot-6-7 m-contact">
          <h5>Get in touch</h5>
          <%= mail_to "hi@daviferreira.com" %>
        </div>
        <div class="slot-8-9 m-credits">
          <h5>Powered by</h5>
          <ul>
            <li><%= link_to "nginx", "#" %> + <%= link_to "Varnish", "#" %></li>
            <li><%= link_to "Ruby on Rails", "#" %></li>
            <li><%= link_to "Sass", "#" %> + <%= link_to "Compass", "#" %></li>
            <li><%= link_to "Backbone", "#" %> + <%= link_to "jQuery", "#" %> + <%= link_to "CoffeeScript", "#" %></li>
            <li><%= link_to "Proxima Nova font family", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
