<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= @meta_title %> | Davi Ferreira</title>
    <meta name="description" content="<%= @meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">
    <div<% if @has_footer %> class="l-content"<% end %>>
        <div class="top-nav-bar">
            <div class="container clearfix">
                <div class="language">
                    <% if I18n.locale == :en %>
                        <%= link_to raw("ver em português &#8250;"), root_path %>
                    <% else %>
                        <%= link_to raw("switch to english &#8250;"), localized_root_path(:locale => "en") %>
                    <% end %>
                </div>
                <div class="title">
                    <a href="<%= root_path %>">
                        <h1>Davi Ferreira</h1>
                        <h2>Code Crafter</h2>
                    </a>
                </div>
                <nav class="clearfix">
                    <%= link_to t('home'), root_path(:locale => current_locale) %>
                    <%= link_to t('portfolio'), projects_path(:locale => current_locale) %>
                    <%= link_to t('blog'), posts_path(:locale => current_locale) %>
                    <%= link_to t('projects.list'), open_source_path(:locale => current_locale) %>
                    <%= link_to t('book'), page_path('book', :locale => current_locale) %>
                    <%= link_to t('presentations'), page_path('presentations', :locale => current_locale) %>
                    <%= link_to t('about'), page_path('about', :locale => current_locale) %>
                </nav>
            </div>
        </div>
        <%= yield %>
    </div>
    <% if @has_footer %>
    <footer>
        <div class="container">
            <div class="m-contact">
                say <%= mail_to "hi@daviferreira.com" %>
            </div>
        </div>
        <div class="m-credits">
            <a class="source-code" href="">&bullet; source code</a>
        </div>
    </footer>
    <% end %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1735379-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
