<!DOCTYPE html>
<html>
<head>
    <title>Portfolio2k13</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "pages", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render "shared/notifications" %>
    <%= render "shared/user_info" %>
    <!--
    <h1><%= I18n.locale %></h1>
    <% I18n.available_locales.each do |locale| %>
        <a href="#"><%= locale %></a>
    <% end %>
    -->
    <div class="l-content">
        <div class="top-nav-bar"></div>
        <div class="container">
            <header class="masthead" id="page-title">
                <h1>Hi, I'm Davi Ferreira</h1>
                <h2>I'm a code crafter</h2>
            </header>
        </div>
        <%= yield %>
    </div>
    <footer>
        <div class="container">
            <div class="m-contact">
                <h5>Get in touch</h5>
                <%= mail_to "hi@daviferreira.com" %>
                <a class="source-code" href="">&raquo; source code</a>
            </div>
            <div class="m-credits">
                <h5>Powered by</h5>
                <ul>
                    <li><%= link_to "nginx", "#" %> + <%= link_to "Varnish", "#" %></li>
                    <li><%= link_to "Ruby on Rails", "#" %></li>
                    <li><%= link_to "Sass", "#" %> + <%= link_to "Compass", "#" %></li>
                    <li><%= link_to "Backbone", "#" %> + <%= link_to "jQuery", "#" %> + <%= link_to "CoffeeScript", "#" %></li>
                    <li><%= link_to "Proxima Nova font family", "#" %></li>
                </ul>
            </div>
        </div>
    </footer>
    <%= javascript_include_tag "application" %>
</body>
</html>
