<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2k13</title>
  <%= stylesheet_link_tag     "base", :media => "all" %>
  <%= stylesheet_link_tag     "720_grid", :media => "screen and (min-width: 720px)" %>
  <%= stylesheet_link_tag     "986_grid", :media => "screen and (min-width: 986px)" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
