<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2k13</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "shared/notifications" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
</body>
</html>
